.login-form form .form-area .fa{
    position: static
}
.login-form form .form-area .form-control{
    padding-left: 10px
}
.login-form form .form-area{
    padding: 32px 24px
}
.form-group{
    margin-bottom: 5px;
}