.flip{}
.flip-clock-before{margin-top:10px !important;}
.flip-clock-wrapper ul{margin:2px;} 
.clock {
position: relative !important;
float:left;
padding-top: 0px;
margin-left: -110px;
height:100px;
width: 440px;
max-width: 440px;
/zoom: .6;/
transform: scale(.54);
-ms-transform: scale(.54); /* IE 9 */
-webkit-transform: scale(.54); /* Safari and Chrome */
-o-transform: scale(.54); /* Opera */
-moz-transform: scale(.54); /* Firefox */
}

.clock{
zoom: 0.5;
-moz-transform: scale(0.5)
}
.flip-clock-wrapper {
position: relative;
float:left; width:440px;
}

*, *:after, *:before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.clearfix:before, .clearfix:after {
  display: table;
  content: '';
}

.clearfix:after {
  clear: both;
}

body {
  background: #fff;
  color: #7b7b7b;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
  overflow-y: scroll;
  /* force scroll to appear */
}

/* helper class when showing content */
.noscroll {
  overflow: hidden;
}

a {
  outline: none;
  color: #81c483;
  text-decoration: none;
}

a:hover,
a:focus {
  color: #333;
  outline: none;
}

button:focus {
  outline: none;
}

/* sidebar1 */
.sidebar1 {
  text-align: center;
  background: #3d464d ;
  z-index: 1000;
  position: fixed;
  width: 250px;
  max-width: 100%;
  height: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  padding: 2em 1em;
}

.sidebar1 h1 {
  margin: 0.75em 0 0;
  font-size: 2em;
  line-height: 1;
  font-family: "Playfair Display", serif;
}

.sidebar1 h1 span {
  display: block;
}

/* Codrops links */
.codrops-links {
  position: relative;
  display: inline-block;
  text-align: center;
  white-space: nowrap;
  min-height: 45px;
}

.codrops-links::after {
  position: absolute;
  top: 0;
  left: 50%;
  width: 1px;
  height: 100%;
  background: #ddd;
  content: '';
  -webkit-transform: rotate3d(0, 0, 1, 22.5deg);
  transform: rotate3d(0, 0, 1, 22.5deg);
}

.codrops-icon {
  display: inline-block;
  margin: 0.5em;
  padding: 0em 0;
  width: 1.5em;
  text-decoration: none;
}

.codrops-icon span {
  display: none;
}

.codrops-icon:before {
  margin: 0 5px;
  text-transform: none;
  font-weight: normal;
  font-style: normal;
  font-variant: normal;
  font-family: 'codropsicons';
  line-height: 1;
  speak: none;
}

.codrops-icon--drop:before {
  content: "\e001";
}

.codrops-icon--prev:before {
  content: "\e004";
}

/* Demo links */
.codrops-demos {
  margin: 2em 0 0;
  font-size: 0.75em;
}

.codrops-demos a {
  display: inline-block;
  margin: 0 0.5em;
}

.codrops-demos a.current-demo {
  color: #333;
  font-weight: bold;
}

.codrops-demos a.current-demo:focus {
  color: #aaa;
}

.related {
  font-size: 0.85em;
  padding-bottom: 1em;
}

.related h3 {
  margin: 3em 0 0.5em 0;
  font-size: 0.95em;
}

.related a {
  display: block;
  color: inherit;
}

.related a:hover,
.related a:focus {
  color: #414741;
}

/* Main content */
.main {
  position: relative;
  z-index: 50;
}

/* Grid container */
.grid {
  position: relative;
  padding-left:0px;
}

/* Overlay */
.grid::after {
  content: '';
  background: rgba(202, 202, 202, 0.4);
  opacity: 0;
  position: absolute;
  pointer-events: none;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s;
}

.view-single .grid::after {
  opacity: 1;
}

/* Top bar above the grid */
.top-bar {
  background: #fff;
  width: 100%;
  line-height: 1;
  padding: 15px 15px 10px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
}

.top-bar__headline {
  margin: 0;
}

/* Menu button for toggling the sidebar1 (appears on small screen) */
.menu-toggle {
  position: fixed;
  z-index: 100;
  display: block;
  width: 25px;
  height: 25px;
  top: 14px;
  left: 14px;
  cursor: pointer;
  background: none;
  border: none;
  display: none;
  margin: -2px 15px 0 0;
}

.menu-toggle span {
  position: absolute;
  top: 50%;
  left: 0;
  display: block;
  width: 100%;
  height: 2px;
  background-color: #81c483;
  font-size: 0px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.menu-toggle span:before,
.menu-toggle span:after {
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  background: #81c483;
  content: '';
}

.menu-toggle span:before {
  -webkit-transform: translateY(-7px);
  transform: translateY(-7px);
}

.menu-toggle span:after {
  -webkit-transform: translateY(7px);
  transform: translateY(7px);
}

/* Filter/dropdown dummy on the right */
.filter {
  text-align: right;

  margin-left: auto;
}

/*.dropdown {
  font-weight: bold;
  margin-left: 5px;
  cursor: pointer;
  color: #81c483;
}

.dropdown::after {
  content: '\25BC';
  margin-left: 2px;
  font-size: 80%;
}*/

/* Grid item */
.grid__item {
  padding: 0 45px 55px 30px;
  position: relative;
  color: inherit;
  background: #fff;
  min-height: 300px;
  cursor: pointer;
  text-align: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: center;
  justify-content: center;
}

/* Grid item "border" */
.grid__item::before {
  position: absolute;
  content: '';
  top: 0px;
  right: 55px;
  bottom: 0px;
  left: 55px;
  border-bottom: 1px solid rgba(74, 74, 74, 0.075);
}

.grid__item * {
  z-index: 10;
}

/* grid item element and full content element styles */
.title {
  margin: 0;
  font-size: 1.875em;
  font-family: "Playfair Display", serif;
  text-align: center;
}

.title--preview {
  -webkit-flex: 1;
  flex: 1;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
  width: 100%;
}

.loader {
    height: 1px;
    margin: 0 auto;
	margin-bottom:30px;
    position: relative;
    width: 80%;
  background: rgba(0, 0, 0, 0.1);
}

.loader::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 3px;
  background: #a4e7ad;
  left: 0;
  top: -1px;
  -webkit-transform: scale3d(0, 1, 1);
  transform: scale3d(0, 1, 1);
  -webkit-transform-origin: 0% 50%;
  transform-origin: 0% 50%;
}

.grid__item--loading .loader::before {
  -webkit-transition: -webkit-transform 1s;
  transition: transform 1s;
  -webkit-transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
  transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
  -webkit-transform: scale3d(1, 1, 1);
  transform: scale3d(1, 1, 1);
}

.category {
  margin: 0;
  position: relative;
  font-size: 0.95em;
  font-style: italic;
  font-family: "Playfair Display", serif;
  text-align: center;
  display: block;
}

.title--preview,
.loader,
.category {
  -webkit-transition: -webkit-transform 0.2s, opacity 0.2s;
  transition: transform 0.2s, opacity 0.2s;
  -webkit-transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
  transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
}

/* closing (delays) */
.title--preview {
  -webkit-transition-delay: 0.15s;
  transition-delay: 0.15s;
}

.loader {
  -webkit-transition-delay: 0.1s;
  transition-delay: 0.1s;
}

.grid__item .category {
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
}

/* opening */
.grid__item--animate .title--preview {
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
  opacity: 0;
  -webkit-transform: translate3d(0, -20px, 0);
  transform: translate3d(0, -20px, 0);
}

.grid__item--animate .loader {
  -webkit-transition-delay: 0.1s;
  transition-delay: 0.1s;
  opacity: 0;
  -webkit-transform: translate3d(0, -30px, 0);
  transform: translate3d(0, -30px, 0);
}

.grid__item--animate .category {
  -webkit-transition-delay: 0.15s;
  transition-delay: 0.15s;
  opacity: 0;
  -webkit-transform: translate3d(0, -40px, 0);
  transform: translate3d(0, -40px, 0);
}

.meta {
  font-size: 0.765em;
  text-align: left;
  top:60px;
}

.meta .fa {
  margin-right: 4px;
}

.meta:before, .meta:after {
  display: table;
  content: '';
}

.meta:after {
  clear: both;
}

.meta__avatar {
  display: block;
  border-radius: 50%;
  margin: 2em auto;
  width:60%;
}

.meta--preview .meta__avatar {
  -webkit-filter: grayscale(50%);
  filter: grayscale(50%);
}

.grid__item:hover .meta--preview .meta__avatar,
.grid__item:focus .meta--preview .meta__avatar {
  -webkit-filter: none;
  filter: none;
}

.meta__date,
.meta__reading-time {
  display: block;
  float: left;
  color: #aaa;
}

.meta__reading-time {
  text-align: right;
  float: right;
}

.meta__misc {
  display: block;
  clear: both;
  text-align: left;
  padding: 1px 0;
}

.meta__misc--seperator {
  padding: 14px 0 0;
  margin: 15px 0 0;
  border-top: 1px solid #f5f5f5;
}

.article-nav {
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-between;
  justify-content: space-between;
}

.article-nav button {
  border: none;
  color: #81c483;
  background: none;
}

.article-nav button:hover {
  color: #333;
}

.meta--preview .meta__avatar,
.meta--preview .meta__date,
.meta--preview .meta__reading-time {
  -webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
  transition: transform 0.3s, opacity 0.3s;
  -webkit-transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
  transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
}

.grid__item--loading .meta__avatar {
  -webkit-transition-delay: 0.1s;
  transition-delay: 0.1s;
}

.grid__item--loading .meta__date {
  -webkit-transition-delay: 0.17s;
  transition-delay: 0.17s;
}

.grid__item--loading .meta__reading-time {
  -webkit-transition-delay: 0.24s;
  transition-delay: 0.24s;
}

.grid__item--loading .meta__avatar,
.grid__item--loading .meta__date,
.grid__item--loading .meta__reading-time {
  -webkit-transform: scale3d(0.5, 0.5, 1);
  transform: scale3d(0.5, 0.5, 1);
  opacity: 0;
}

/* Grid footer */
.page-meta {
  width: 100%;
  background: #fff;
  width: 100%;
  padding: 15px 15px 10px;
  text-align: center;
  font-size: 0.75em;
  font-weight: bold;
  cursor: default;
}

/* Placeholder element (dummy that gets animated when we click on an item) */
.placeholder {
  pointer-events: none;
  position: absolute;
  width: calc(100% + 5px);
  height: calc(100vh + 5px);
  z-index: 100;
  top: 0;
  left: 0;
  background: #fff;
  -webkit-transform-origin: 0 0;
  transform-origin: 0 0;
}

.placeholder.placeholder--trans-in {
  -webkit-transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  -webkit-transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
  transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
}

.placeholder.placeholder--trans-out {
  -webkit-transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
}

/* main content */
.content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  pointer-events: none;
  height: 0;
  /* Avoid second scroll bar in Chrome! */
  visibility: hidden;
  z-index: 400;
  overflow: hidden;
}

.content.content--show {
  height: 100vh;
  pointer-events: auto;
  visibility: visible;
}

/* scroll helper wrap */
.scroll-wrap {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 1;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}

/* single content item */
.content__item {
  position: absolute;
  top: 0;
  width: 100%;
  overflow: hidden;
  height: 0;
  opacity: 0;
  padding: 60px 60px 80px 60px;
  pointer-events: none;
  margin-top:20px;
  font-size: 0.85em;
}
.content__item p {
  max-width: 1200px;
  margin: 1em auto;
  text-align: justify;
}
.content__item p:first-of-type {
  font-size: 1.35em;
}

.content__item.content__item--show {
  height: auto;
  min-height: 100vh;
  opacity: 1;
  pointer-events: auto;
  -webkit-transition: opacity 0.6s;
  transition: opacity 0.6s;
}

/* content elements */
.category--full {
  font-size: 1.25em;
  margin-bottom: 20px;
  color: #81c483;
}

.title--full {
  font-size: 3.25em;
}

.meta--full {
  font-size: 1em;
  margin: 0 auto 2em;
  max-width: 1200px;
}
.meta--full .meta__author {
  display: block;
  text-align: center;
  font-weight: bold;
  margin-bottom: 10px;
  font-size:14px;
}
.meta--full .meta__author::before {
  content: 'Welcome ';
  font-weight: normal;
}
.meta--full .meta__category {
  font-style: italic;
  float: left;
  margin: 0 5px;
  font-family: "Playfair Display", serif;
}
.meta--full .meta__category::before {
  content: "in ";
}
.meta--full .meta__avatar {
  margin: 1em auto;
}

.category--full,
.title--full,
.meta--full .meta__avatar,
.meta--full .meta__author,
.meta--full .meta__date,
.meta--full .meta__reading-time {
  opacity: 0;
}

.content__item p {
  opacity: 0;
}

.category--full,
.title--full {
  -webkit-transform: translate3d(0, 40px, 0);
  transform: translate3d(0, 40px, 0);
}

.meta--full .meta__avatar,
.meta--full .meta__author,
.meta--full .meta__date,
.meta--full .meta__reading-time {
  -webkit-transform: scale3d(0.5, 0.5, 1);
  transform: scale3d(0.5, 0.5, 1);
}

.content__item--show .category--full,
.content__item--show .title--full,
.content__item--show .meta--full .meta__avatar,
.content__item--show .meta--full .meta__author,
.content__item--show .meta--full .meta__date,
.content__item--show .meta--full .meta__reading-time {
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
  transition: transform 0.3s, opacity 0.3s;
  -webkit-transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
  transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
}

.content__item--show .category--full,
.content__item--show .title--full {
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}

.content__item--show .title--full {
  -webkit-transition-delay: 0.05s;
  transition-delay: 0.05s;
}

.content__item--show .meta--full .meta__avatar {
  -webkit-box-shadow: 0px -1px 15px -1px rgba(0,0,0,0.55);
-moz-box-shadow: 0px -1px 15px -1px rgba(0,0,0,0.55);
box-shadow: 0px -1px 15px -1px rgba(0,0,0,0.55);  
  -webkit-transition-delay: 0.2s;
  transition-delay: 0.2s;
  
}

.content__item--show .meta--full .meta__date {
  -webkit-transition-delay: 0.27s;
  transition-delay: 0.27s;
}

.content__item--show .meta--full .meta__reading-time {
  -webkit-transition-delay: 0.34s;
  transition-delay: 0.34s;
}

.content__item--show.content__item p {
  opacity: 1;
  -webkit-transition: opacity 0.5s 0.25s;
  transition: opacity 0.5s 0.25s;
}

/* close button (for content and sidebar1) */
.close-button {
  position: absolute;
  border: none;
  background: none;
  margin: 0;
  z-index: 100;
  top: 60px;
  right: 0;
  font-size: 18px;
  color: #ddd;
  cursor: pointer;
  pointer-events: none;
  padding: 20px 30px;
  opacity: 0;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}

.close-button span {
  display: none;
}

.close-button:hover {
  color: #7b7b7b;
}

/* show class for content close button */
.close-button--show {
  opacity: 1;
  pointer-events: auto;
}

/* Viewport sizes based on column number and sidebar1 */
/* 1 column */
/* 2 columns */
/* 3 columns */
/* 4 columns */
/* 5 columns */
/* 6 columns */
@media screen and (min-width: 600px) {
  html,
  body,
  .container,
  .main {
    height: 100vh;
  }

  .main {
    height: 100%;
    /*margin-left: 250px;*/
  }

  .content__item {
    font-size: 1em;
  }

  .grid__item {
    padding: 0 45px 45px 30px;
  }

  /* Demo ad */
  body #cdawrap {
    right: auto;
    left: 30px;
    top: auto;
    bottom: 0;
    background: none;
    border: none;
    width: 240px;
    background: #f5f5f5;
  }

  body #cdawrap .carbon-text {
    color: #7b7b7b;
  }

  body #cdawrap a.carbon-poweredby {
    color: #7883C4;
  }

  body #cdawrap a:hover.carbon-poweredby {
    color: #333;
  }

  body #cdawrap #cda-remove {
    display: none;
  }
}
@media screen and (min-width: 900px) {
  .grid {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }

  /* 2 columns */
  .grid__item {
    width: 50%;
    border: none;
  }

  .grid__item::before {
    top: 5px;
    right: 5px;
    bottom: 5px;
    left: 5px;
    border: 1px solid rgba(74, 74, 74, 0.15);
    -webkit-transition: opacity 0.3s;
    transition: opacity 0.3s;
  }

  .grid__item:hover::before,
  .grid__item:focus::before {
    border: 3px solid rgba(0, 0, 0, 0.2);
	
  }

  .grid__item--loading.grid__item::before {
    opacity: 0;
  }
}
@media screen and (min-width: 980px) {
  /* 3 columns */
  .grid__item {
    width: 25%;
  }
}
@media screen and (min-width: 1200px) {
  /* 3 columns */
  .grid__item {
    width: 20%;
  }
}
@media screen and (min-width: 1500px) {
  /* 4 columns */
  .grid__item {
    width: 20%;
  }
}
@media screen and (min-width: 1800px) {
  /* 5 columns */
  .grid__item {
    width: 20%;
  }
}
@media screen and (min-width: 2100px) {
  /* 6 columns */
  .grid__item {
    width: 16.66%;
  }
}
/* small screen changes for sidebar1 (it becomes an off-canvas menu) */
@media screen and (max-width: 599px) {
  .sidebar1 {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
    -webkit-transition: -webkit-transform 0.3s;
    transition: -webkit-transform 0.3s;
  }

  .sidebar1.sidebar1--open {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  .sidebar1.sidebar1--open ~ .main {
    pointer-events: none;
  }

  .top-bar {
    padding: 22px 15px 10px 60px;
  }

  .menu-toggle {
    display: inline-block;
  }

  .sidebar1 .close-button {
    opacity: 1;
    pointer-events: auto;
  }

  .title--full {
    font-size: 2em;
  }

  .content__item {
    padding: 80px 20px 40px;
  }

  .content .close-button {
    padding: 10px 20px;
  }

  .content .close-button::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    background: #fff;
    border-bottom: 1px solid #f5f5f5;
    width: 100vw;
    height: 50px;
    pointer-events: none;
    z-index: -1;
  }
}
@media screen and (max-height: 580px) {
  body #cdawrap {
    display: none;
  }
}
/* Redefine some styles for this layout */
body {
  background: #f5f5f5;
}

.content {
  left: auto;
  right: 0;
  width: 100vw;
}

.content__item p {
  font-size: 1.15em;
}

.content__item p:first-of-type {
  margin-top: 3em;
  font-size: 1.15em;
  font-weight: bold;
}

.fa-heart {
  color: #c84252;
}

/* Redefine the delays for the content items when they appear; redefine the translation (now from the left) */
.title--preview {
  -webkit-transition-delay: 0.15s;
  transition-delay: 0.15s;
}

.loader {
  -webkit-transition-delay: 0.1s;
  transition-delay: 0.1s;
}

.grid__item .category {
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
}

.grid__item--animate .title--preview {
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
  -webkit-transform: translate3d(-20px, 0, 0);
  transform: translate3d(-20px, 0, 0);
}

.grid__item--animate .loader {
  -webkit-transition-delay: 0.15s;
  transition-delay: 0.15s;
  -webkit-transform: translate3d(-30px, 0, 0);
  transform: translate3d(-30px, 0, 0);
}

.grid__item--animate .category {
  -webkit-transition-delay: 0.3s;
  transition-delay: 0.3s;
  -webkit-transform: translate3d(-40px, 0, 0);
  transform: translate3d(-40px, 0, 0);
}

.category--full,
.title--full {
  -webkit-transform: translate3d(40px, 0, 0);
  transform: translate3d(40px, 0, 0);
}

.content__item--show .title--full {
  -webkit-transition-delay: 0.15s;
  transition-delay: 0.15s;
}

@media screen and (min-width: 600px) {
  .sidebar1,
  .grid {
    -webkit-transition: -webkit-transform 0.5s;
    transition: transform 0.5s;
  }

  .view-single .sidebar1,
  .view-single .grid {
    -webkit-transform: translate3d(calc(280px - 100vw), 0, 0);
    transform: translate3d(calc(280px - 100vw), 0, 0);
  }

  .content__item {
    right: 0;
    padding-left: 355px;
  }

  .meta--full {
    position: fixed;
    width: 275px;
    height: 100%;
    background: #fff;
    top: 60px;
    left: 4px;
    font-size: 0.85em;
    padding: 15px 30px;
  }

  .article-nav {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    border-top: 1px solid #f5f5f5;
  }

  .article-nav button {
    width: 50%;
    padding: 25px;
  }

  .article-nav button:hover {
    color: #fff;
    background: #81c483;
  }

  .article-nav button:first-child {
    border-right: 1px solid #f5f5f5;
  }
}
@media screen and (max-width: 899px) {
  .meta--full .meta__date,
  .meta--full .meta__reading-time {
    float: none;
    text-align: center;
  }

  .meta__misc--seperator {
    margin-top: 20px;
  }

  .article-nav button span {
    display: none;
  }
}
@media screen and (max-width: 599px) {
  .meta__misc,
  .article-nav {
    display: none;
  }
}

/*# sourceMappingURL=style2.css.map */
#top{
    background: #1a75bb none repeat scroll 0 0;
    color: #fff;
    height: 60px;
    position: fixed;
    top: 0;
    width: 100%;	
	z-index : 9999;}	

.health-box {
	    height: 190px;float: left;
/*    border: 1px solid #E2E2E2;
    float: left;
    height: 190px;
    margin: 5px;
    padding: 10px;
    width: 190px; */
}
.health-box .title{font-size:12px; font-weight:bold;color:#333;padding-bottom:10px;width:98%;text-align:center;font: 13px Verdana,sans-serif; font-weight:bold;}
.my-progress-bar {
	background: none repeat scroll 0 0 #FF0000;
	display: inline-block;
	height: 113px;
	left: 0;
	overflow: hidden;
	position: absolute;
	width: 30px;
}
.my-progress-bar div {
	background: none repeat scroll 0 0 #FFFFFF;
	float: left;
	height: 30px;
	width: 30px;
}
.tmeter{
position: relative;margin:20px;width:0;
}
.tmeter img{z-index:13;position:absolute;}

.widgetr {
    float: right;
    text-align: center;
    width: 80%;
	line-height:28px;
}
.litegray {
    color: #636363 !important;
}
.textmed {
    font-size: 30px;
}



#addBG div span:first-child {
    text-align: right;
    width: 67%;
}
#addBG div span {
    float: left;
    width: 30%;
}

.health-box ul {
    float: left;
    line-height: 30px;
    list-style: outside none none;
    padding: 0;
}
.health-box ul li {
    font-family: arial;
    font-size: 12px;
    height: 12px;
    margin: 0;
    padding: 0;
    width: 98%;
	text-align:left;
}
.greenlite {
    color: #21c8ae !important;
}
.olink {
    bottom: 20px;
    color: #38acec;
    position: absolute;
    right: 25px;
}
.bcl1 {
    color: #e77e23 !important;
}
.textright {
    padding-right: 2px;
    text-align: right;
}
.textsmall {
    font-size: 23px;
    padding-top: 7px;
}
.textmed {
    font-size: 34px;
    padding-top: 7px;
}


.bp_box, .bmi_box {
    height: 45px;
    padding-top: 5px;
    width: 98%;
}
.pinkc {
    color: #bd0351 !important;
}

.bp_box span:nth-child(1) {
    width: 60%;
}
.health-box div span {
    float: left;
}
.greenlime {
    color: #599d00 !important;
}

.progress {margin-bottom:2px;}

.health-box > .title:first-child {
    padding-bottom: 12px;
}

.progtext {
    font-family: arial;
    font-size: 11px;
    font-weight: bold;
    margin-bottom: 4px;
	text-align:left;
}
.rewardwallet {
    background-image: url("../img/reward_wallet_bg.png");
    background-position: 15px 60px;
    background-repeat: no-repeat;
}
.health-box .rewardpts {
    color: white;
    font-size: 28px;
    padding-top: 36px;
    position: relative;
    text-align: center;
}

.health-box .rpts {
    font-size: 14px;
    position: absolute;
    right: 36px;
    top: 20px;
	color:#000;
}
.bgcircle{
	width:120px;
	height:120px;
	background-color:#79b320;
	line-height:90px;
	-webkit-border-radius: 60px;
	-moz-border-radius: 60px;
	border-radius: 60px;
	margin:0 auto;
	border:8px solid #e3e3e3;	
	-webkit-box-shadow: -1px 2px 5px 0px rgba(0,0,0,0.85);
	-moz-box-shadow: -1px 2px 5px 0px rgba(0,0,0,0.85);
	box-shadow: -1px 2px 5px 0px rgba(0,0,0,0.85);	
	}
.textmid {
    font-size: 24px;
    padding-top: 7px;
}
.grid__item_half{width: 50%;}
#theGrid , .content{}

.meta__misc a {
    background-color: #333;
    color: white;
    font-size: 12px;
    padding: 2px 10px;
	-webkit-border-radius: 40px;
	-moz-border-radius: 40px;
	    border-radius: 40px;
}
.meta__misc a:hover {
    background-color: green;
	cursor:move;
}